*.000
*.bak
*.bck
*.tmp
*~
~*
_autosave-*
\#auto_saved_files\#
*.kicad_pcb-bak
*.kicad_sch-bak
*.sch-bak
*-save.pro
*-save.kicad_pcb
*.lck
*.kicad_prl
fp-info-cache
*.net
*.dsn
*.ses
*.cmp
.history/
_restore_backup_*/
*-backups/
build/
out/
output/
production/
fabrication/
gerber/
plot/
.svg2shenzhen-cache/
*.log
*.raw
.DS_Store
Thumbs.db